:host {
    display: flex;
    align-items: center;
    flex-direction: column;
}

mat-card {
    width: 800px;
}

mat-list-item {
    height: auto !important;
}

.wrapper,
.checkboxes,
mat-radio-group {
    display: flex;
    flex-direction: column;
}